<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="${basedir}\temp\internal-nlog-AspNetCore.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target name="console" xsi:type="Console" />
        <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}-log.txt" />
        <target name="exceptionsfile" xsi:type="File" fileName="${basedir}/logs/exceptions-${shortdate}-log.txt" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="Info" writeTo="file" />
        <logger name="*" minlevel="Error" writeTo="exceptionsfile" />
    </rules>
</nlog>